* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 375px) {
    font-size: 14px;
  }
}

body {
  font-family: 'Roboto', sans-serif;

  ul {
    list-style: none;
  }

  button, input, textarea {
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
  }

  button {
    cursor: pointer;
    font-weight: 500;
  }

  a {
    text-decoration: underline;
  }

  p, a {
    font-weight: 400;
  }
}